<div class="center hero-unit">
  <h1>Udvozoljuk a Naplozo App oldalan</h1>

  <h2>
    Ez a naplozo alkalmazas orvosi hasznalatra keszult weblapja.
  </h2>

  <%= link_to "Regisztracio", signup_path, class: "btn btn-large btn-primary" %>
</div>
